/* Excerpt Remainder */

.exerpt-remainder a {
  color: #9a9a9a;
  margin-top: 0;
}

pre { 
  white-space: normal;
  background-color: white;
}

.post-author {
  margin-bottom: 1.5 rem;
}

.post-date { 
  margin-top: 0;
}