/* Excerpt Remainder */

.exerpt-remainder a {
  color: #9a9a9a;
  margin-top: 0;
}

pre { 
/*  white-space: normal; */
  background-color: white;
}

.post-author {
  margin-bottom: 1.5 rem;
}

.post-date { 
  margin-top: 0;
}

/* tag stuff */
.tag {
	font: 14px/1.5 'PT Sans', serif;
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none !important;
	-webkit-transition: color .2s
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, .25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px
}

.tag::after {
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0
}

.tag:hover {
	background-color: #6a9fb5;
	text-decoration: none!important;
	color: #fff!important;
}

.tag:hover::after {
	border-left-color: #6a9fb5;
}
