{::nomarkdown}
<style>
  .collapsible {
    background-color: rgba(78, 139, 205, 0.3);
    max-height: 0;
    overflow: hidden;
    padding: 0px;
    transition: 0.6s;
    transition-delay: 0s;
    border-radius: 25px;
  }
  
  label {
    color: #0275d8;
    background-color: transparent;
    border-color: #0275d8;
    border-radius: .25rem;
    border: 1px solid #0275d8;
    padding: .25rem;
    font-size: 1rem;
    position: relative;
    top: -.5rem;
    margin-top: 100px;
  }
  
  label:hover {
    background-color: #0275d8;
    border-color: #0275d8;
    color: white;
    transition: background-color 0.3s;
  }
  
  #toggle {
    display: none;
  }
  
  .inner-collapsible {
    padding: 30px;
  }
  
  #toggle:checked ~ .collapsible {
    max-height: 3000px;
  }
  
</style>
<div>
<input id="toggle" type="checkbox">
<label for="toggle">{{ include.title }}</label>
<div class="collapsible">
  <div class="inner-collapsible">
    {{ include.content }}
  </div>
  
  </div>
</div>
<p>
</p>
{:/nomarkdown}
<!--I don't get why </div>s show up when I put them here-->
