<!--From http://sharingbuttons.io/-->

<style>
.share-button {
	color: black;
	margin: 10px;
}
</style>

<p>Share us on social media!</p>
<!-- Sharingbutton Facebook -->
<a class="share-button" href="https://facebook.com/sharer/sharer.php?u={{ site.url | append: site.baseurl | append: page.url | url_encode }}" target="_blank" aria-label="Facebook">
   <i class="fa fa-lg fa-facebook"></i>
</a>

<!-- Sharingbutton Twitter -->
<a class="share-button" href="https://twitter.com/intent/tweet/?text={{ include.text }}&amp;url={{ site.url | append: site.baseurl | append: page.url | url_encode }}" target="_blank" aria-label="Twitter">
	<i class="fa fa-lg fa-twitter"></i>
</a>

<!-- Sharingbutton Hacker News -->
<a class="share-button" href="https://news.ycombinator.com/submitlink?u={{ site.url | append: site.baseurl | append: page.url | url_encode }}&amp;t={{ include.text }}" target="_blank" aria-label="Hacker News">
	<i class="fa fa-lg fa-hacker-news"></i>
</a>

<!-- Sharingbutton Reddit -->
<a class="share-button" href="https://reddit.com/submit/?url={{ site.url | append: site.baseurl | append: page.url | url_encode }}" target="_blank" aria-label="Reddit">
	<i class="fa fa-lg fa-reddit"></i>
</a>

<!-- Sharingbutton LinkedIn -->
<a class="share-button" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url | append: site.baseurl | append: page.url | url_encode }}&amp;title={{ page.title }};summary={{ include.text }}&amp;source={{ site.url | append: site.baseurl | append: page.url | url_encode }}" target="_blank" aria-label="LinkedIn">
	<i class="fa fa-lg fa-linkedin"></i>
</a>

<!-- Sharingbutton E-Mail -->
<a class="share-button" href="mailto:?subject={{ include.text }}&amp;body={{ site.url | append: site.baseurl | append: page.url | url_encode }}" target="_self" aria-label="E-Mail">
	<i class="fa fa-lg fa-envelope"></i>
</a>

<!-- Sharingbutton WhatsApp -->
<a class="share-button" href="whatsapp://send?text={{ include.text }}%20{{ site.url | append: site.baseurl | append: page.url | url_encode }}" target="_blank" aria-label="WhatsApp">
	<i class="fa fa-lg fa-whatsapp"></i>
</a>

