<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div style="align:center">
      <img src="{{ site.baseurl }}/images/mlabprofile.png"/>
  </div>

  <div class="sidebar-item" style="text-align:center">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"title" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item" id="contact-list" style="text-align:center">

<p><a href="http://feeds2.feedburner.com/MLatBerkeley" rel="alternate" type="application/rss+xml"><img style="display: inline; margin: 0 .2rem 0 0;" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a><a href="http://feeds2.feedburner.com/MLatBerkeley" style="display: inline;" rel="alternate" type="application/rss+xml">Subscribe </a></p>

    <p>
      Reach out to us:
    </p>

<!--For future reference icons are being drawn from font awesome  (hence fa-stuff classes) -->
    <a href="https://www.facebook.com/{{ site.author.facebook }}">
      <i class="fa fa-facebook-square fa-lg"></i>
    </a>
    
    <a href="https://www.twitter.com/{{ site.author.twitter }}">
      <i class="fa fa-twitter-square fa-lg"></i>
    </a>

    <a href="https://www.github.com/{{ site.author.github }}">
      <i class="fa fa-github fa-lg"></i>
    </a>
    
<!--    change url when we get custom youtube URL     -->
    <a href="https://www.youtube.com/channel/UCXweTmAk9K-Uo9R6SmfGtjg/"> 
      <i class="fa fa-youtube fa-lg"></i>
    </a>
    
    <a href="https://www.linkedin.com/company/{{ site.author.linkedin }}">
      <i class="fa fa-linkedin-square fa-lg"></i>
    </a>
    
    <a href="mailto: {{ site.author.email }}">
      <i class="fa fa-envelope fa-lg"></i>
    </a>

  </div>

</div>
