@import url(http://fonts.googleapis.com/css?family=Raleway:300);
html {
  height: 100%;
}

form {
  padding: 1em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.knobs {
  list-style: none;
  text-align: center;
}
.knobs li {
  display: inline-block;
  margin: 1em;
}

.a-knob {
  width: 300px;
  height: 300px;
  position: relative;
  transform: scale(0.25);
}
.a-knob .a-knob-handle {
  pointer-events: none;
  width: 270px;
  height: 270px;
  background: #ddd;
  background-image: linear-gradient(#eeeeee, #cccccc);
  border: 0;
  left: 50%;
  top: 50%;
  margin: -135px 0 0 -135px;
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 3px 6px -3px #000, inset 0 -5px 5px -5px #000, inset 0 5px 5px -5px #fff;
}
.a-knob .a-knob-handle::before, .a-knob .a-knob-handle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.a-knob .a-knob-handle::before {
  width: 176px;
  height: 176px;
  margin-left: -88px;
  margin-top: -88px;
  background: #f2f2f2;
  box-shadow: inset 0 -50px 50px 15px #dadada, 0 -5px 10px -5px #fefefe, 0 1px 3px -1px rgba(0, 0, 0, 0.35);
}
.a-knob .a-knob-handle::after {
  width: 156px;
  height: 156px;
  background: #ddd;
  margin-left: -78px;
  margin-top: -78px;
  box-shadow: inset 0 -10px 15px -5px rgba(0, 0, 0, 0.25), inset 0 10px 25px -10px #fff, 0 25px 50px rgba(0, 0, 0, 0.25), 0 5px 5px -5px rgba(0, 0, 0, 0.35), 0 15px 10px -6px rgba(0, 0, 0, 0.3), 0 25px 15px -7px rgba(0, 0, 0, 0.25), 0 35px 20px -8px rgba(0, 0, 0, 0.2), 0 45px 25px -9px rgba(0, 0, 0, 0.15), 0 55px 30px -10px rgba(0, 0, 0, 0.1);
}
.a-knob .a-knob-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  padding: 0;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-align: center;
  text-shadow: 0 1px 1px #fff, 0 -1px 1px #ccc;
  background: none;
  border: 0;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 1px 2px -1px #fff, 0 -1px 2px -1px #ccc, inset 0 -1px 2px -1px #fff, inset 0 1px 2px -1px #ccc;
}
.a-knob .a-knob-input::selection {
  color: #c30;
  background: rgba(255, 255, 255, 0.3);
}
.a-knob .a-knob-input::-moz-selection {
  color: #c30;
  background: rgba(255, 255, 255, 0.3);
}
.a-knob .a-knob-input:focus {
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #999;
}
.a-knob .a-knob-input::-webkit-outer-spin-button, .a-knob .a-knob-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.a-knob .a-knob-label {
  box-shadow: inset 0 5px 3px -1px rgba(0, 0, 0, 0.15);
  display: block;
  width: 294px;
  height: 294px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background: #fc0;
  background-repeat: no-repeat;
  background-image: linear-gradient(-5deg, #bada55, #ffcc00, #cc3300);
}
.a-knob .a-knob-label.mono {
  background: #ccc;
  background-image: linear-gradient(-5deg, #cccccc, #666666);
}
.a-knob .a-knob-label.blue {
  background: #58b;
  background-image: linear-gradient(-5deg, #99ccff, #668899, #003366);
}
.a-knob .a-knob-label.stripes {
  box-shadow: none;
  background-image: linear-gradient(5deg, rgba(0, 0, 0, 0) 48%, #eeeeee 48%, #eeeeee 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(35deg, rgba(0, 0, 0, 0) 48%, #eeeeee 48%, #eeeeee 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(65deg, rgba(0, 0, 0, 0) 48%, #eeeeee 48%, #eeeeee 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(95deg, rgba(0, 0, 0, 0) 48%, #eeeeee 48%, #eeeeee 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(125deg, rgba(0, 0, 0, 0) 48%, #eeeeee 48%, #eeeeee 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(155deg, rgba(0, 0, 0, 0) 48%, #eeeeee 48%, #eeeeee 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(185deg, #44aacc, #1177aa);
}
.a-knob .a-knob-label.red {
  background: #c30;
  background-image: linear-gradient(-5deg, #993300, #cc3300, #ff3300);
}
.a-knob .a-knob-label::before, .a-knob .a-knob-label::after {
  position: absolute;
  content: '';
  background: white; /* hides stuff, set to background color */
}
.a-knob .a-knob-label::before {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}
.a-knob .a-knob-label::after {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  border: 0 solid transparent;
  border-right-width: 100px;
  border-bottom-width: 100px;
  border-right-color: white; /* hides stuff, set to background color */
  margin-left: 5px;
  box-sizing: border-box;
  background-clip: padding-box;
}
.a-knob .a-knob-indicator {
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  margin: -70px 0 0 -70px;
  z-index: 1;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.a-knob .a-knob-indicator.dragged {
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -webkit-transition: all 0s;
  transition: all 0s;
}
.a-knob .a-knob-indicator::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -6px;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom-color: inherit;
}
